/* solo para probar codigo  */

.containerForm{

    background: blanchedalmond; 

    align-items: center;
    width: 80%;
    float: none;
    margin-left: auto;
    margin-right: auto;
    float: none;
    padding: 2%;
    text-align: center;
    
}
