/* solo para probar codigo  */
/*
.containerForm{

    background: blanchedalmond; 

    align-items: center;
    width: 80%;
    float: none;
    margin-left: auto;
    margin-right: auto;
    float: none;
    padding: 2%;
    text-align: center;
    
}
*/

.body {
  display: flex;
  min-height: 100vh;
  width: 100%;
  padding: 0%;
  margin: 0%;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.img {
  width: 50%;
  height: 40%;
  margin-top: 0%;
  margin-left: 5%;
  margin-right: 10%;
  position: relative;
  display: flex;
  align-content: flex-end;

}

.h1,
.h3 {
  text-align: center;
  font-family: 'Segoe UI';
  color: rgba(23, 24, 18, 0.658);
}

.modal-container {
  width: 150%;
  height: 150%;

  margin-top: 0%;
  margin-left: 100%;
  margin-right: 100%;
  align-items: center;
  justify-content: center;
}

.input-field {
  width: 50%;
  height: 300%;
  margin-top: 2%;
  margin-left: 10%;
  margin-right: 100%;
  align-items: center;
  justify-content: center;
  align-items: center;
  justify-content: center;
}

.btn-create {
  color: white;
  margin-top: 1%;
  align-items: center;
  border-radius: 5px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background: rgb(202, 60, 60);
  /* this is a maroon */
  height: 30px;
  width: 220px;
  font-size: 85%;
}

.btn-google {
  color: white;
  margin-top: 1%;
  align-items: center;
  border-radius: 20;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background-image: url('https://i.ibb.co/nL48YsC/google-logo.png');
  background-repeat: no-repeat;
  height: 30px;
  width: 220px;
  background-position: center;
  /*background: rgb(45, 162, 230);*/
  /* this is a blue */
  font-size: 85%;
}