*{
  padding: 0;
  margin: 0;
}


body {
  margin: 0;
  color:#000;
  font-size: 20px;
}

.root {
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  margin-top: 10%;
  margin-bottom: 10%;
  padding: 2%;
  
}

.flexbox-item {
  max-width: 90%;
  background:#fff;
  justify-content: center;

}

.demoT {
  width: 100%;
  margin-bottom: 2%;
  margin-top: 2%;
  background: #fff;
  text-align: center;
}

.demoT img {
  width: 300px;
}

.demoP {
  margin-top: 25%;
  background: #fff;
  text-align: center;
  
} 

.demoR {
 
  margin-top: 20%;
  background: #fff;
  text-align: center;
} 
.demoE {
 
  margin-top: 8%;
  background: #fff;
  text-align: center;
} 
.demoG {
  
  margin-top: 8%;
  background: #fff;
  margin-bottom: 10%;
  text-align: center;
} 

.btn-create {
  color: white;
  margin-top: 5%;
  align-items: center;
  border-radius: 5px;
  font-family: sans-serif;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background: rgb(202, 60, 60);
  /* this is a maroon */
  height: 60px;
  width: 80%;
  font-size: 100%;
  
}


.btn-google {
  width:80%;
  height: 60px;
  text-align: center;
  cursor: pointer;
  color: rgb(29, 47, 105);
  margin-top: 5%;
  padding: 10px 50px;
  border: 30px;
  border-radius: 5px;
  font-family: sans-serif;
  font-size: 18px;
  margin-bottom: 10px;
  background: url('https://img.icons8.com/dusk/2x/google-logo.png') 15px 8px no-repeat;
  background-size: 25px;
  background-color: rgb(45, 162, 230);
}

.aa{
  font-size: 22px;
}