*{
  padding: 0;
  margin: 0;
}

/* style body  */
body {
  margin: 0;
  color:#f2f2f2;
  font-size: 20px;
  font-family: sans-serif;
}

/* style container root */
.root {
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  margin-top:0;
  margin-bottom: 8%;
  padding: 2%;
  flex-direction:column;
}



/* style      HOME */

/* div class home */
.flexbox-item {
  max-width: 85%;
  background:#fff;
  justify-content: center;

}

/* container img header */
.demoT {
  width: 100%;
  margin-bottom: 2%;
  margin-top: 2%;
  background: #fff;
  text-align: center;
}

/* div img --> registre and login  */
.demoT img {
  width: 300px;
}

/* container h3 title  --> registre and login */
.containerparrafohome {
  margin-bottom: 20%;
  margin-top: 35%;
  background: #fff;
  text-align: center;
  
} 

/* container button " registrar "  --> registre  */
.containerbotoncreatehome {
 
  margin-top: 4%;
  background: #fff;
  text-align: center;
} 

/* container button "entrar"  --> registre  */
.containerbotonentrarhome {
 
  margin-top: 4%;
  background: #fff;
  text-align: center;
} 

/* container button "google"  --> registre  */
.containerbotongooglehome {
  
  margin-top: 6%;
  background: #fff;
  margin-bottom: 10%;
  text-align: center;
} 
/* style button registrar and login Home  */
.btn-create {
  margin-bottom: 5%;
  color: white;
  margin-top: 5%;
  align-items: center;
  border-radius: 2%;
  font-family: sans-serif;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background: rgb(202, 60, 60);
  /* this is a maroon */
  height: 50px;
  width: 80%;
  font-size: 100%;
  
}

/* style button google Home */
.btn-google {
  width:80%;
  height: 50px;
  text-align: center;
  cursor: pointer;
  color: rgb(29, 47, 105);
  margin-top: 5%;
  padding: 10px 50px;
  border: 30px;
  border-radius: 2%;
  font-family: sans-serif;
  font-size: 18px;
  margin-bottom: 10px;
  background: url('https://img.icons8.com/dusk/2x/google-logo.png') 15px 8px no-repeat;
  background-size: 25px;
  background-color: rgb(45, 162, 230);
}

/* style paragraph home */
.welcomeHome {
  font-size: 22px;
  color: #34495E;
}

/* ---------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------- */



/* style      REGISTRE */

.parrRegistre {
  font-size: 22px;
  text-align: center;
  color:#34495E;
  font-weight: normal;
 }

 .formRegistre {
  margin-top: 5%;
  display: flex;
  width: 80%;
  background:#D4E6F1;
  align-items: center;
  justify-content: center;
  flex-direction:column;

}

.formlogin {
  text-align: center;
  margin-top: 5%;
  display: flex;
  width: 80%;
  background: #d4e6f1;
  align-items: center;
  justify-content: center;
  flex-direction:column;
}


.barr {
  margin-top: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
  width: 80%;
  height: 2.5em;
  border:0;border-bottom:1px solid #34495E;  
  /* text-align: center; */
}

.btn-createR {
  color: white;
  margin-top: 5%;
  align-items: center;
  border-radius: 2%;
  font-family: sans-serif;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background: rgb(202, 60, 60);
  /* this is a maroon */
  height: 50px;
  width: 100%;
  font-size: 100%;
  
}


.btn-googleR {
  width:80%;
  height: 50px;
  text-align: center;
  cursor: pointer;
  color: rgb(29, 47, 105);
  margin-top: 5%;
  padding: 10px 50px;
  border: 30px;
  border-radius: 2%;
  font-family: sans-serif;
  font-size: 18px;
  margin-bottom: 10px;
  background: url('https://img.icons8.com/dusk/2x/google-logo.png') 15px 8px no-repeat;
  background-size: 25px;
  background-color: rgb(45, 162, 230);
}
/* ---------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------- */



/* style      LOGIN */

/*  style     Button reverse */
 .parrLogin {

  text-align: center;
  color:#34495E;
  margin-top: 10%;
  font-size: 22px;
  font-weight: normal;

 }


.back {
  width: 60px;
  height: 43px;
  background:transparent;
  background-image:url('https://img.icons8.com/cotton/2x/circled-left--v1.png');
  background-size:40px;
  background-repeat:no-repeat;
  border: none;
  margin-top: 10px;
} 


.btn-createLogin {
  margin-bottom: 5%;
  color: white;
  margin-top: 25%;
  align-items: center;
  border-radius:2%;
  font-family: sans-serif;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background: rgb(202, 60, 60);
  /* this is a maroon */
  height: 50px;
  width: 80%;
  font-size: 100%;
  
}

table tr th,
table tr td {
  padding: 0.5625em 0.625em;
  font-size: 0.875em;
  color: #222222;
  border: 1px solid #dddddd;
}

table tr.even,
table tr.alt,
table tr:nth-of-type(even) {
  background: #f9f9f9;
}

.btn-googleLogin {
  width:80%;
  height: 50px;
  text-align: center;
  cursor: pointer;
  color: rgb(29, 47, 105);
  margin-top: 5%;
  padding: 10px 50px;
  border: 30px;
  border-radius: 2%;
  font-family: sans-serif;
  font-size: 18px;
  margin-bottom: 10px;
  background: url('https://img.icons8.com/dusk/2x/google-logo.png') 15px 8px no-repeat;
  background-size: 25px;
  background-color: rgb(45, 162, 230);
}